body {
  color: white;
}

h1 {
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.texte {
  color: black;
  font-family: 'Poppins', sans-serif;
}

font-family: 'Poppins', sans-serif;
