body {
  color: white;
}

h1 {
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: right;
}


/* mobile first */

.header {
  Position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 200px;
  background-color: pink;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;

}

.bildcontainer {
  background-color: orange;
  position: absolute;
  float: left;
  margin-bottom: 20px;
}



.textcontainer {
  position: relative;
  float: right;
  margin-bottom: 20px;
}

.svgbild {
}


@media(min-width:400px) {
  .header{
    height: 20px;
  }

}

@media(min-width:550px) {
}

@media(min-width:750px) {
}
