body {
  color: white;
}

h1 {
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: right;
}


/* mobile first */

.header {
  background-color: blue;
  padding-left: 10%;
  padding-right: 10%;

}

.bildcontainer {
  position: relative;
  float: left;
}

.textcontainer {
  position: relative;
  float: right;
}

.svgbild {
}


@media(min-width:400px) {
}

@media(min-width:550px) {
}

@media(min-width:750px) {
}
