body {
  color: white;
}

h1 {
  color: blue;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: right;
}

.header {
  position: relative;
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 10%;
  background-color: pink;
}

.bildcontainer {
  position: absolute;
  float: left;
}

.svgbild {
  float: left;
}
